<div>
  <div *ngFor="let event of events" class="well hoverwell thumbnail">
    <h2>{{ event.name }}</h2>
    <span *ngIf="event.location==null" class="label label-warning">Solo en línea</span>
    <div>Fecha: {{ event.date }}</div>
    <div>Hora: {{ event.time }}</div>
    <div *ngIf="event.location!=null" >
      <span>Ubicación: {{ event?.location?.address }}</span>
      <span class="pad-left">{{ event?.location?.city }}, {{ event?.location?.country }}</span>
    </div>
    <div *ngIf="event.onlineUrl!=null || event.location==null">
      Url en línea: {{ event?.onlineUrl || "[TBD]" }}
    </div>
  </div>

</div>
